@using CaseEL.ViewModels;
@model AdayCvVM

@{
    ViewData["Title"] = "CvDuzenle";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/Index">Sicil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilUcret">Sicil Ücret</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilOgrenim">Sicil Öğrenim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Home/AdayCv">CV Tanımlama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/Rapor">Rapor</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Aday CV Düzenleme Ekranı</h5>

        <div class="alert alert-danger" id="errorAlert" style="display: none;">
            Lütfen Gerekli Alanları Doldurunuz !!!
        </div>

        <div>
            <form class="needs-validation" novalidate asp-controller="Home" asp-action="CvDuzenle" method="post">
                <input type="hidden" name="CvNo" value="@Model.CvNo" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="isim">İsim</label>
                        <input type="text" class="form-control" id="isim" name="Ad" value="@Model.Ad" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="soyisim">Soyisim</label>
                        <input type="text" class="form-control" id="soyisim" name="Soyad" value="@Model.Soyad" >
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="date1">Doğum Tarihi</label>
                        <input type="date" class="form-control" id="date1" name="DogumTarihi" value="@Model.DogumTarihi.ToString("yyyy-MM-dd")" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="date2">CV Oluşturma Tarihi</label>
                        <input type="date" class="form-control" id="date2" name="CvOlusturmaTarihi" value="@Model.CvOlusturmaTarihi.ToString("yyyy-MM-dd")" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="ogrenimDurumu">Öğrenim Durumu</label>
                        <input type="text" class="form-control" id="ogrenimDurumu" name="OgrenimDurumu" value="@Model.OgrenimDurumu" placeholder="Lise, Önlisans, Lisans vb." >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="okulAdi">Okul Adı</label>
                        <input type="text" class="form-control" id="okulAdi" name="OkulAdi" value="@Model.OkulAdi" >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="bolum">Bölüm</label>
                        <input type="text" class="form-control" id="bolum" name="Bolum" value="@Model.Bolum" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="date3">Eğitim Başlangıç Tarihi</label>
                        <input type="date" class="form-control" id="date3" name="OgrenimBaslangicTarihi" value="@Model.OgrenimBaslangicTarihi.ToString("yyyy-MM-dd")" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="date4">Eğitim Bitiş Tarihi</label>
                        <input type="date" class="form-control" id="date4" name="OgrenimBitisTarihi" value="@Model.OgrenimBitisTarihi?.ToString("yyyy-MM-dd")" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="isYeriAdi">İş Yeri</label>
                        <input type="text" class="form-control" id="isYeriAdi" name="IsYeriAdi" value="@Model.IsYeriAdi" placeholder="Son iş yerinizin ismi" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="isDetayi">İş Detayı</label>
                        <input type="text" class="form-control" id="isDetayi" name="IsDetayi" value="@Model.IsDetayi" placeholder="Son işinizdeki görevinizi açıklayınız" >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" onclick="return validateForm()">Güncelle</button>
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var isim = document.getElementById("isim").value;
        var soyisim = document.getElementById("soyisim").value;
        var dogumTarihi = document.getElementById("date1").value;
        var cvOlusturmaTarihi = document.getElementById("date2").value;
        var ogrenimDurumu = document.getElementById("ogrenimDurumu").value;
        var okulAdi = document.getElementById("okulAdi").value;
        var bolum = document.getElementById("bolum").value;
        var egitimBaslangicTarihi = document.getElementById("date3").value;

        if (isim === "" || soyisim === "" || dogumTarihi === "" || cvOlusturmaTarihi === "" ||
            ogrenimDurumu === "" || okulAdi === "" || bolum === "" ||
            egitimBaslangicTarihi === "") {
            document.getElementById("errorAlert").style.display = "block";
            return false;
        } else {
            document.getElementById("errorAlert").style.display = "none";
            return true;
        }
    }
</script>
