@using CaseEL.ViewModels;
@model SicilRaporVM

@{
    ViewData["Title"] = "Rapor";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/Index">Sicil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilUcret">Sicil Ücret</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilOgrenim">Sicil Öğrenim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/AdayCv">CV Tanımlama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Home/Rapor">Rapor</a>
            </li>
        </ul>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="form-check">
                    <br />
                    <input class="form-check-input" type="checkbox" id="aktifCalisan" onchange="filterTable()">
                    <label class="form-check-label" for="aktifCalisan">Aktif Çalışan</label>
                </div>
                <div class="form-check">
                    <br />
                    <input class="form-check-input" type="checkbox" id="pasifCalisan" onchange="filterTable()">
                    <label class="form-check-label" for="pasifCalisan">Pasif Çalışan</label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label for="baslangicTarihi">İşe Başlangıç Tarihi Başlangıç:</label>
                    <input type="date" class="form-control" id="baslangicTarihi">
                </div>
                <div class="form-group">
                    <label for="bitisTarihi">İşe Başlangıç Tarihi Bitiş:</label>
                    <input type="date" class="form-control" id="bitisTarihi">
                </div>
                <button class="btn btn-primary mt-2" onclick="filterTable()">Filtrele</button>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label for="ogrenimDurumu">Öğrenim Durumu:</label>
                    <select class="form-control" id="ogrenimDurumu" onchange="filterTable()">
                        <option value="">Tümü</option>
                        <option value="İlkokul">İlkokul</option>
                        <option value="Ortaokul">Ortaokul</option>
                        <option value="Lise">Lise</option>
                        <option value="Önlisans">Önlisans</option>
                        <option value="Lisans">Lisans</option>
                        <option value="Yüksek Lisans">Yüksek lisans</option>
                        <option value="Doktora">Doktora</option>
                    </select>
                </div>
            </div>
        </div>
    </div>



    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Sicil No</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Başlama Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Öğrenim Durumu</th>
                <th>Aktif Mi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rapor in ViewBag.RaporListesi as List<CaseEL.ViewModels.SicilRaporVM>)
            {
                <tr style="text-align:center">
                    <td>@rapor.SicilNo</td>
                    <td>@rapor.Ad</td>
                    <td>@rapor.Soyad</td>
                    <td>@rapor.BaslamaTarihi.ToString("dd.MM.yyyy")</td>
                    <td>@rapor.BitisTarihi?.ToString("dd.MM.yyyy")</td>
                    <td>@rapor.OgrenimDurumu</td>
                    <td>@(rapor.AktifMi ? "Evet" : "Hayır")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filterTable() {
        let aktifChecked = $('#aktifCalisan').is(':checked');
        let pasifChecked = $('#pasifCalisan').is(':checked');
        let baslangicTarihi = $('#baslangicTarihi').val();
        let bitisTarihi = $('#bitisTarihi').val();
        let ogrenimDurumu = $('#ogrenimDurumu').val();

        let url = "/Home/GetTumCalisanlar";

        if (aktifChecked && !pasifChecked) {
            url = "/Home/GetAktifCalisanlar";
        } else if (!aktifChecked && pasifChecked) {
            url = "/Home/GetPasifCalisanlar";
        }

        function formatDate(stringDate) {
            const date = new Date(stringDate);
            const day = ("0" + date.getDate()).slice(-2);
            const month = ("0" + (date.getMonth() + 1)).slice(-2);
            const year = date.getFullYear();

            return `${day}.${month}.${year}`;
        }

        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                let tbodyContent = "";

                data.forEach(item => {
                    const baslamaTarihiFormatted = item.baslamaTarihi ? formatDate(item.baslamaTarihi) : "";
                    const bitisTarihiFormatted = item.bitisTarihi ? formatDate(item.bitisTarihi) : "";

                    if ((!baslangicTarihi || item.baslamaTarihi >= baslangicTarihi) &&
                        (!bitisTarihi || item.baslamaTarihi <= bitisTarihi) &&
                        (!ogrenimDurumu || item.ogrenimDurumu === ogrenimDurumu)) {
                        tbodyContent += `<tr style="text-align:center">
                                                <td>${item.sicilNo}</td>
                                                <td>${item.ad}</td>
                                                <td>${item.soyad}</td>
                                                <td>${baslamaTarihiFormatted}</td>
                                                <td>${bitisTarihiFormatted}</td>
                                                <td>${item.ogrenimDurumu}</td>
                                                <td>${item.aktifMi ? "Evet" : "Hayır"}</td>
                                            </tr>`;
                    }
                });

                $("table tbody").html(tbodyContent);
            },
            error: function (error) {
                console.error("Bir hata oluştu: ", error);
            }
        });
    }
</script>

