@using CaseEL.ViewModels;
@model SicilOgrenimVM

@{
    ViewData["Title"] = "SicilOgrenim";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/Index">Sicil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilUcret">Sicil Ücret</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Home/SicilOgrenim">Sicil Öğrenim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/AdayCv">CV Tanımlama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Rapor</a>
            </li>
        </ul>
    </div>

    <br />
    <br />

    <div class="text-center">
        <h2>Eğitim Bilgileri Düzenleme Ekranı</h2>
    </div>

    <br />
    <br />

    @if (ViewBag.SicilListesi != null)
    {
        <table class="table table-hover table-bordered" id="ogrenimTable">
            <thead>
                <tr style="text-align:center">
                    <th>Sicil No</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Öğrenim Durumu</th>
                    <th>Okul Adı</th>
                    <th>Eğitim Başlangıç Tarihi</th>
                    <th>Eğitim Bitiş Tarihi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sicil in ViewBag.SicilListesi)
                {
                    <form asp-controller="Home" asp-action="UcretKaydet" method="post">
                    <tr style="text-align:center">
                        <td>@sicil.SicilNo</td>
                        <td>@sicil.Ad</td>
                        <td>@sicil.Soyad</td>
                        <td>
                            <input type="hidden" name="SicilNo" value="@sicil.SicilNo" />
                            <select name="OgrenimDurumu" class="form-control">
                                <option value="" disabled selected>**Seçiniz**</option>
                                <option value="İlkokul">İlkokul</option>
                                <option value="Ortaokul">Ortaokul</option>
                                <option value="Lise">Lise</option>
                                <option value="Önlisans">Önlisans</option>
                                <option value="Lisans">Lisans</option>
                                <option value="Yüksek Lisans">Yüksek lisans</option>
                                <option value="Doktora">Doktora</option>
                                
                            </select>
                        </td>

                        <td><input type="text" name="OkulAdı" class="form-control" placeholder="Okul Adı" /></td>
                        <td><input type="date" name="EğitimBaslangicTarihi" class="form-control" /></td>
                        <td><input type="date" name="EğitimBitisTarihi" class="form-control" /></td>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm">Kaydet</button>
                            <a href="@Url.Action("Sil", "Home", new { id = sicil.SicilNo })" class="btn btn-danger btn-sm" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz?');">Sil</a>
                        </td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Hiç Sicil Kaydı Bulunmuyor.</p>
    }

</div>


