@using CaseEL.ViewModels;
@model SicilVM

@{
    ViewData["Title"] = "SicilDuzenle";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/Home/Index">Sicil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilUcret">Sicil Ücret</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/SicilOgrenim">Sicil Öğrenim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/AdayCv">CV Tanımlama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Home/Rapor">Rapor</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Bilgileri düzenlemek için aşağıdaki alanları güncelleyin</h5>
        <div>
            <form asp-controller="Home" asp-action="SicilDuzenle" method="post">
                <input type="hidden" name="SicilNo" value="@Model.SicilNo" />

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="isim">Ad</label>
                        <input type="text" class="form-control" id="isim" name="Ad" value="@Model.Ad" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="soyisim">Soyad</label>
                        <input type="text" class="form-control" id="soyisim" name="Soyad" value="@Model.Soyad" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="date1">Doğum Tarihi</label>
                        <input type="date" class="form-control" id="date1" name="DogumTarihi" value="@Model.DogumTarihi.ToString("yyyy-MM-dd")" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="date2">İşe Başlama Tarihi</label>
                        <input type="date" class="form-control" id="date2" name="BaslamaTarihi" value="@Model.BaslamaTarihi.ToString("yyyy-MM-dd")" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="date3">İşten Ayrılma Tarihi</label>
                        <input type="date" class="form-control" id="date3" name="BitisTarihi" value="@Model.BitisTarihi?.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">KAYDET</button>
            </form>
        </div>
    </div>
</div>

